/* Responsive design */

@media only screen and (min-width: 0px) and (max-width: 1440px) {
  main .container {
    width: 992px;
  }

}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
  main .container {
    width: 768px;
  }
  .centered-tickets {
    width: 100%;
  }
  .parallax {
    height: 250px;
  }
  #mc_embed_signup {
    width: 40%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 810px) {
  main .container {
    width: 600px;
    // padding: 1rem 1rem;
  }
  .desktop-navbar {
    .menu-left-of-logo-container *,
    .menu-right-of-logo-container * {
      justify-content: center;
      width: 100%;
      a {
        padding: 1.5rem 1rem;
        min-width: 100px;
      }
    }
  }

  .parallax {
    height: 200px;
  }

  #testimonials {
    h3 {
      margin: 2rem 0;
      text-align: center;
    }
    .container {
      //margin-top: 0;
      //padding-top: 0;
    }
    .testimonialSlides {
      height: 18rem;
    }
  }
  #mc_embed_signup {
    width: 50%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 650px) {
  main .container {
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0;
    padding: 1rem 0;
  }

  .desktop-navbar {
    .menu-left-of-logo-container *,
    .menu-right-of-logo-container * {
      a {
        min-width: 0px;
      }
    }
  }


  .jumbotron {
    display: none;
  }
  #logo--static {
    display: block;
  }
  #general-info {
    .date-location {
      justify-content: space-around;
    }
    .date,
    .location {
      height: 225px;
      width: 225px;
      margin-right: 0;
      h3 {
        font-size: 1.25rem;
      }
    }

  }
  .parallax {
    height: 150px;
  }



  .link {
    margin-right: 0.5rem;
  }

  #testimonials {
    .quote {
      font-size: 1.75rem;
    }
    .author {
      padding-right: 1rem;
    }
  }
  #mc_embed_signup {
    width: 60%;
  }
  #faq {
    padding: 0 1rem;
    .plus-sign {
      top: 10px;
      left: 0px;
    }
    h4 {
      font-size: 1.2rem;
    }
    .answer {
      line-height: 1.2;
    }
  }

  .post-artists {
    .artists-content {
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-right: 0;
        width: 350px;
        height: 350px;
      }

    }
  }

}

@media only screen and (min-width: 0px) and (max-width: 550px) {

  .desktop-navbar {
    .menu-left-of-logo-container *,
    .menu-right-of-logo-container * {
      justify-content: space-between;
      a {
        padding: 1.5rem 0.5rem;
        min-width: 0;
      }
    }
  }

  #general-info {
    .tagline {
      line-height: 1.2;
    }
  }

  #registration {
    min-height: 900px;
    .heading {
      font-size: 2.5rem;
    }
    .bg-image {
      min-height: 900px;
    }
    .centered-tickets {
      flex-direction: column;
      align-items: center;
      top: 50%;
      transform: translateY(-45%);
    }
    .ticket:nth-of-type(2) {
      margin-top: 4rem;
    }
    .reg-date {
      transform: rotate(-25deg);
      bottom: -15px;
      $shift: 95px;
      right: -1 * $shift;
      left: $shift;
      width: 220px;
    }
    .desktop-reg {
      display: none;
    }
    .mobile-reg {
      display: block;
    }

  }


  #testimonials {
    h3 {
      margin-top: 0;
    }
  }
  #mc_embed_signup {
    width: 70%;
  }

  .post-artists {
    .artists-content {
      img {
        width: 300px;
        height: 300px;
      }
    }
  }

}

@media only screen and (min-width: 0px) and (max-width: 485px) {

  .desktop-navbar {
    .menu-left-of-logo-container *,
    .menu-right-of-logo-container * {
      a {
        display: none;
      }
    }
  }

  .mobile-navbar{
    display: block;
  }

  #general-info {
    h1 {
      line-height: 1;
    }
    .date-location {
      flex-direction: column;
    }
    .date {
      margin-bottom: 3rem;
      margin-right: 0;
    }

    .date::before,
    .location::before {
      height: auto;
      width: 50px;
      position: absolute;
      top: -75%;
      // transform: translateY(-50%);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  #artists-selection {
    .subheading {
      text-align: center;
      line-height: 1.5;
    }
    .circles {
      flex-direction: column;
      .circle {
        margin: 3% 20%;
      }
    }
  }

  #testimonials {
    h3 {
      font-size: 1.25rem;
    }
    .quote {
      font-size: 1.5rem;
    }
    .testimonial {
      i {
        font-size: 1rem;
      }
      .fa-quote-left {
        top: 0px;
        left: -10px;
      }
      .fa-quote-right {
        bottom: 0px;
        right: -10px;
      }
    }
  }
  #mc_embed_signup {
    width: 80%;
    h3 {
      font-size: 1.25rem;
    }
  }

  footer {
    .sloped-top {
      flex-direction: column-reverse;
      //padding-top: 1rem;
      align-items: flex-end;
    }
    .contact {
        text-align: right;
    }
    .copyright {
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .social a {
      font-size: 1.75rem;
    }
    p {
      padding: 0.25rem 0;
    }
  }
  .post-artists {
    .artists-content {
        margin: 0 0.5rem;
    }
  }

}

@media only screen and (min-width: 0px) and (max-width: 375px) {
  #testimonials {
    .testimonialSlides {
      height: 20rem;
    }
    .quote {
      line-height: 1.25;
    }
  }
  #mc_embed_signup {
    width: 85%;
  }

  .post-artists {
    .artists-content {
      img {
        width: 250px;
        height: 250px;
      }
    }
  }

}
